:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.25rem;
  max-width: 62.5rem;
  width: 100%;

  .bullet:not(:last-of-type) {
    margin-bottom: 10px;
  }

  @media (max-width: 550) {
    grid-template-columns: 1fr;
  }
}
